%header
  #title
    .header-wrap<
      %a{:href=> section_path(subtitle)}<
        #{TITLE} ::
        %span{:id => "subtitle"}<
          = subtitle

      %nav{:id => "sections"}
        ~ "select &nbsp;▾"
        %ul.sections-nav
          - SECTIONS.each do |subtitle, info|
            %li
              %a{:href => info[:path] }
                = info[:label]

  %nav{:id => "pages"}
    .header-wrap
      %ul.left-nav
        = partial "#{subtitle}_left_nav"

      %ul.right-nav
        %li
          %a{:href=>"https://twitter.com/jackiekircher"}<
            twitter
        %li
          %a{:href=>"https://twitch.tv/pangasaur"}<
            twitch
        %li
          %a{:href=>"https://github.com/jackiekircher"}<
            github
        %li
          %a{:href=>"/blog/rss.xml"}<
            rss



