%header
  #title
    %a.skip-link{:href => "#main"}
      skip to main content
    .header-wrap<
      %a{:href=> section_path}<
        #{TITLE} ::
        %span{:id => "subtitle"}<
          = @subtitle

      %nav{:id => "sections"}
        %ul.sections-nav
          - SECTIONS.each do |subtitle, info|
            %li
              %a{:href => info[:path] }
                = info[:label]

  %nav{:id => "pages"}
    .header-wrap
      %ul.site-nav
        %li
          %a{:href=>"https://twitter.com/jackiekircher"}<
            twitter
        %li
          %a{:href=>"http://jackiekircher.tumblr.com"}<
            tumblr
        %li
          %a{:href=>"https://github.com/jackiekircher"}<
            github
      %ul.page-nav
        = optional_partial "#{@subtitle}_left_nav"

